html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container {
  padding: 0 16px;
}

.main-container {
  padding: 0 16px;
}

.button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .main-container {
    padding: 0 64px;
  }
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
  padding: 0 16px 0 26px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.header .header__logo {
  color: #FFFFFF;
}

.header .header__navigation {
  overflow: hidden;
}

.header .header__navigation-container {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
}

.header .header__navigation-link {
  color: #FFFFFF;
  display: block;
  margin: 0 0 10px;
}

.header .header__navigation-container--shown {
  display: block;
}

.header .header__button {
  color: #FFFFFF;
}

.header .header__button--close {
  position: absolute;
  top: 30px;
  right: 20px;
}

@media (min-width: 768px) {
  .header {
    justify-content: start;
  }
  .header .header__navigation-container {
    display: block;
    position: relative;
    height: auto;
    background: transparent;
  }
  .header .header__navigation-list {
    display: flex;
  }
  .header .header__logo {
    margin: 0 10px 0 0;
  }
  .header .header__navigation-link {
    display: flex;
    margin: 0 10px 0 0;
  }
  .header .header__button {
    display: none;
  }
}

@media (min-width: 1366px) {
  .header {
    display: none;
  }
}

.intro {
  color: #FFFFFF;
  padding: 164px 0 0 0;
  min-height: 867px;
  box-sizing: border-box;
  text-align: center;
  background: url(../../img/ellipse-purple.png) -10% -10%/30% no-repeat, url(../../img/girl-gamepad.png) center bottom/70% no-repeat, url(../../img/ellipse-blue.png) 100% 90%/60% no-repeat, linear-gradient(270deg, #332061 0%, #43135A 100%);
}

.intro .intro__age {
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  color: #57D6E1;
  border: 2px solid #57D6E1;
  margin: 0 0 27px 0;
  padding: 4px 8px;
  border-radius: 2px;
}

.intro .intro__competiotion {
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
}

.intro .intro__header {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 16px;
}

.intro .intro__button {
  background-color: #57D6E1;
  width: 200px;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  display: none;
}

@media (min-width: 768px) {
  .intro {
    text-align: left;
    background: url(../../img/ellipse-purple.png) -10% -10%/30% no-repeat, url(../../img/ellipse-blue.png) 100% 90%/60% no-repeat, linear-gradient(270deg, #332061 0%, #43135A 100%);
  }
  .intro .intro__age {
    margin: 0 16px 0 0;
  }
  .intro .intro__description {
    display: flex;
    align-items: center;
    margin: 0 0 24px;
  }
  .intro .intro__header {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    width: 47%;
  }
  .intro .intro__text {
    width: 46%;
    margin: 0 0 24px;
  }
  .intro .intro__button {
    display: flex;
  }
}

.unity {
  background: linear-gradient(180deg, #170F39 0%, #342062 100%);
  padding: 64px 0 128px;
  color: #FFFFFF;
}

.unity .unity__item {
  width: 100%;
  min-height: 288px;
  background: url("../../img/game-img.png") no-repeat;
  background-size: cover;
  margin: 0 0 16px;
}

@media (min-width: 768px) {
  .unity .unity__item {
    min-height: 320px;
    margin: 0 0 16px;
  }
}

@media (min-width: 1024px) {
  .unity .unity__list {
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */