.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    padding: 0 16px 0 26px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;

    .header__logo {
        color: $white-color;
    }

    .header__navigation {
        overflow: hidden;
    }

    .header__navigation-container {
        position: absolute;
        display: none;
        width: 100%;
        height: 100vh;
        background-color: blue;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header__navigation-link {
        color: $white-color;
        display: block;
        margin: 0 0 10px;
    }


    .header__navigation-container--shown {
        display: block;
    }

    .header__button {
        color: $white-color;
    }

    .header__button--close {
        position: absolute;
        top: 30px;
        right: 20px;
    }
}

@media (min-width: 768px) {
    .header {
        justify-content: start;

        .header__navigation-container {
            display: block;
            position: relative;
            height: auto;
            background: transparent;
        }

        .header__navigation-list {
            display: flex;
        }

        .header__logo {
            margin: 0 10px 0 0;
        }

        .header__navigation-link {
            display: flex;
            margin: 0 10px 0 0;
        }

        .header__button {
            display: none;
        }
    }
}

@media (min-width: 1366px) {
    .header {
        display: none;
    }
}